html,
body,
.App {
  background-color: #141414;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.carousel-control-next,
.carousel-control-prev {
  width: 15px !important;
}

.carousel-control-prev {
  left: -15px !important;
}

.carousel-control-next {
  right: -15px !important;
}

.movie-img {
  height: 180px !important;
  object-fit: cover;
}

