html,
body,
.App {
  background-color: #343a40;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.carousel-control-next,
.carousel-control-prev {
  width: 15px !important;
}

.carousel-control-prev {
  left: -15px !important;
}

.carousel-control-next {
  right: -15px !important;
}

.movie-img {
  height: 180px !important;
  object-fit: cover;
}

h2 {
  color: white
}

.showcase {
  height: 30px;
  background-color: transparent !important;
}

.iconss {
  color: white;
  
}

.headerdrop {
  background-color: transparent !important;
}
